@charset "utf-8";
/* CSS Document */

.a{font-family:Tahoma, Geneva, sans-serif ; font-size:84px; color:#936;}
.b{font-family:Tahoma, Geneva, sans-serif ; font-size:84px;color:#9C6;}
.c{font-family:Tahoma, Geneva, sans-serif ; font-size:84px;color: #FF9;}
.d{font-family:Tahoma, Geneva, sans-serif ; font-size:84px;color: #99F;}